---
export interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<article class={['ds-card', className].filter(Boolean).join(' ')} {...rest}>
  <div class="ds-card__body">
    <slot />
  </div>
</article>

